# Ignorar todos los archivos CSS
*.css linguist-vendored

# Marcar todos los archivos JavaScript como detectables
*.js linguist-detectable

# Forzar archivos específicos a ser considerados JavaScript
path/to/yourfile.css linguist-language=JavaScript
